body{
    background: #33ccff;
}

.game{
    background: #33ccff;
    clear: both;
}

.header{
    float: left;
}

.score, .level{
    float: right;
}

table {
    border-spacing: 0;
    border-width: 0px;
    /*border-collapse: collapse;*/
    margin: auto;
    
}

.block{
    background: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    height: 30px;
    width: 45px;
    float: left;
    padding: 1px;
    margin: 0px;
}

#inactive{/*id takes precedence over class*/
    background: #33ccff;
    border-width: 0px;
    height: 30px;
    width: 0%;
    float: left;
    padding: 0px;
}

.buttons{
    margin: auto;
}
button{
    margin: 2px;
    height: 30px;
    width: 90px;
    border-radius: 8px;
    padding: 2px;
}

.levelUpButton{
    display: none;
    background: #3ddf52;
}